.main_container{
    margin-top: 30px;
}
.main_heading{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: bold;
}
span{
    color: orangered;
}
.main_bg img{
    width: 100%;
    height: 500px;
}
.btn{
    background-color: orangered;
}
Button{
    border: 0;
}