*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
.navigation a{
  margin: 0 25px 0 25px;
}
/* body{
  position: relative;;
} */
.heading {
  font-family:'samarkan';
  font-size: xxx-large;                                               
}

.title {
  display: flex;
  margin: 0;
  padding: 0;
}
.icon{
  display: flex;
  align-items: center;
}
.icon img {
  width: 44px;
  display: flex;
  justify-content: center;
}

