.nav-start {
  margin: 0;
  padding: 0;
}

.align-text {
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    font-size: 19px;
    /* padding-left: 800px; */
    /* border: 2px solid black; */
  }

  .options {
    /* border: 2px solid yellow; */
    margin-right: 13px;
    /* padding-left:650px ; */
  }
  .bo{
    /* border: 2px solid black; */
    margin: 17px;
    /* padding-right: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head {
    margin-left: 73px;
  }
  .navigation a{
    margin: 0 25px 0 25px;
  }

 a:active {
    color: black;
  }
 
  .heading {
    font-family:'samarkan';
    font-size: xxx-large; 
    /* border: 2px solid black;     */
    /* margin-right: 627px ;                                           */
  }
  
  .title {
    margin-left: 73px;
    /* border: 2px solid blue; */
    /* display: flex;
    margin: 0;
    padding: 0; */
  }
  .icon{
    display: flex;
    align-items: center;
  }
  .icon img {
    width: 75px;
    display: flex;
    justify-content: center;
  }